﻿@using dash.Models
@using dash.DAL

@{
    int? _segmentid = 0;
    List<DashboardMD> lst = new List<DashboardMD>();
    lst = new HomeDAL().Load_segmentDAL();
    if (lst != null)
    {
        foreach (var tabs in lst)
        {
            if (tabs.isSelected == 1)
            {
                _segmentid = tabs.SegmentID;
            }
        }
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/AdminLte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/AdminLte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/AdminLte/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLte/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/AdminLte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/AdminLte/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/AdminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/AdminLte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        .widget-user-header{
            height:4rem!important;
        }

        .counter {
            animation-duration: 1s;
            animation-delay: 0s;
        }
        #tab_2 {
            margin-top: -41px;
        }
        #tab_3 {
            margin-top: -39px;
        }
        .ui-autocomplete {
            max-height:200px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden;
            z-index: 9999999 !important;
        }

        /*.header_0 {
            display: none;
        }*/

        /*.bdata_0 {
            display: none;
        }*/
        .headerdata_0 {
            display: none;
        }
        /*#card_1 {
            display: none;
        }*/
        .fctheader {
            background-color: antiquewhite;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="content-wrapper" style="background-color:white!important">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-2">
                        <h5 class="m-0">Poll Date:</h5>
                        <input type="text" id="txtdate" name="txtdate" class="form-control" style="background-color:#f3f3f9; padding: 17px; display:none;" placeholder="yyyy-mm-dd">
                        <select id="dtdata" class="form-control">
                            <option value="">--Select Date--</option>
                            <option value="2021-03-27">27/03/2021</option>
                            <option value="2021-04-01">01/04/2021</option>
                            <option value="2021-04-06">06/04/2021</option>
                            <option value="2021-04-10">10/04/2021</option>
                            <option value="2021-04-17">17/04/2021</option>
                            <option value="2021-04-22">22/04/2021</option>
                            <option value="2021-04-26">26/04/2021</option>
                            <option value="2021-04-29">29/04/2021</option>
                        </select>

                    </div><!-- /.col -->
                    <div class="col-sm-2">
                        <h5 class="m-0">District:</h5>
                        <input type="text" id="txt_district1" name="txt_district1" class="form-control" style=" padding: 17px; ">
                        <input type="hidden" id="dist_id1" value="" />

                    </div>
                    <div class="col-sm-3">
                        <h5 class="m-0">Parliament Constituency:</h5>
                        <input type="text" id="txt_parlcon1" name="txt_parlcon1" class="form-control" style=" padding: 17px; ">
                        <input type="hidden" id="patlcon_id1" value="" />

                    </div>
                    <div class="col-sm-2">
                        <h5 class="m-0">Constituency:</h5>
                        <input type="text" id="txt_Constituency1" name="txt_Constituency1" class="form-control" style=" padding: 17px; ">
                        <input type="hidden" id="constituency_id1" value="" />
                    </div>
                    <div class="col-sm-3">
                        <h5 class="m-0">Booth:</h5>
                        <input type="text" id="txt_booth1" name="txt_booth1" class="form-control" style=" padding: 17px;  ">
                        <input type="hidden" id="booth_id1" value="" />

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            @*<li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>*@
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content --><div>
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->

                    <div class="row" id="4">

                        @*<div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>150</h3>
                                        <p>New Orders</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                                        <p>Bounce Rate</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>44</h3>
                                        <p>User Registrations</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        <h3>65</h3>
                                        <p>Unique Visitors</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>*@
                        <!-- ./col -->

                    </div>
                </div>
            </section>
        </div>
        <br />


        <!-- /.row -->
        <!-- Main row -->
        <section class="content1">
            <div class="container-fluid1">
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-8 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    @*<i class="fas fa-chart-pie mr-1"></i>
                                        Sales*@
                                </h3>
                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto" id="tab">
                                        @{
                                            if (lst != null)
                                            {
                                                foreach (var tabs in lst)
                                                {
                                                    string act = "";
                                                    if (tabs.isSelected == 1) { act = "active"; } else { act = ""; }
                                                    <li class="nav-item">
                                                        <a class="nav-link @act chtb_@tabs.SegmentID chtbtmv" data-toggle="tab" href="#tab_@tabs.SegmentID" role="tab" aria-selected="true" onclick="BindSegmentClick(@tabs.SegmentID)">
                                                            @tabs.SegmentName
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }




                                        @*<li class="nav-item">
                                                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="row">
                                <div class="col-md-12">
                                    @{
                                        if (lst != null)
                                        {
                                            foreach (var tabs in lst)
                                            {
                                                <div class="card-body tabclass" id="tab_@tabs.SegmentID">
                                                    <div class="tab-content p-0">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" id="tab_@tabs.SegmentID" style="position: relative; height: 300px;">
                                                            @*<canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>*@
                                                        </div>
                                                        @*<div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                                                                <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- DIRECT CHAT -->
                        <!--/.direct-chat -->
                        <!-- TO DO List -->
                        <!-- /.card -->
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-4 connectedSortable">
                        <!-- Map card -->
                        <div class="card">
                            <div class="card-header" style="cursor: move;background-color: #da2c43;color: white;">
                              
                                <h3 class="card-title">Alert</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    @*<button type="button" class="btn btn-tool" data-card-widget="remove" disabled>
            <i class="fas fa-times"></i>
        </button>*@
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <i class="fas fa-expand"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <ul class="products-list product-list-in-card pl-2 pr-2" id="divSegment5">
                                    @*<li class="item" >
                                            <div class="product-img">
                                                <span style="font-size: xx-large; font-weight:bold; color: rgb(82 160 240)">12</span>
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    Samsung TV
                                                    <span class="badge badge-warning float-right">$1800</span>
                                                </a>
                                                <span class="product-description">
                                                    Samsung 32" 1080p 60Hz LED Smart HDTV.
                                                </span>
                                            </div>
                                        </li>
                                        <!-- /.item -->
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    Bicycle
                                                    <span class="badge badge-info float-right">$700</span>
                                                </a>
                                                <span class="product-description">
                                                    26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                                </span>
                                            </div>
                                        </li>
                                        <!-- /.item -->
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    Xbox One <span class="badge badge-danger float-right">
                                                        $350
                                                    </span>
                                                </a>
                                                <span class="product-description">
                                                    Xbox One Console Bundle with Halo Master Chief Collection.
                                                </span>
                                            </div>
                                        </li>
                                        <!-- /.item -->
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    PlayStation 4
                                                    <span class="badge badge-success float-right">$399</span>
                                                </a>
                                                <span class="product-description">
                                                    PlayStation 4 500GB Console (PS4)
                                                </span>
                                            </div>
                                        </li>*@
                                    <!-- /.item -->
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                @* <a href="javascript:void(0)" class="uppercase">View All Products</a>*@
                            </div>
                            <!-- /.card-footer -->
                        </div>






                        <div class="card bg-gradient-primary" style="display:none;">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    Visitors
                                </h3>
                                <!-- card tools -->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-primary btn-sm daterange" title="Date range">
                                        <i class="far fa-calendar-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <div class="card-body">
                                <div id="world-map" style="height: 250px; width: 100%;"></div>
                            </div>
                            <!-- /.card-body-->
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <div id="sparkline-1"></div>
                                        <div class="text-white">Visitors</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-2"></div>
                                        <div class="text-white">Online</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-3"></div>
                                        <div class="text-white">Sales</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- solid sales graph -->
                    
                        <!-- /.card -->
                        <!-- Calendar -->
                        <div class="card bg-gradient-success" style="display:none;">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="far fa-calendar-alt"></i>
                                    Calendar
                                </h3>
                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a href="#" class="dropdown-item">Add new event</a>
                                            <a href="#" class="dropdown-item">Clear events</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item">View calendar</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="remove" disabled>
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pt-0">
                                <!--The calendar -->
                                <div id="calendar" style="width: 100%"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="/AdminLte/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/AdminLte/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/Scripts/AppJs/NewHome.js?v=1.1"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/AdminLte/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/AdminLte/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/AdminLte/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/AdminLte/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/AdminLte/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/AdminLte/plugins/moment/moment.min.js"></script>
    <script src="/AdminLte/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/AdminLte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/AdminLte/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/AdminLte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLte/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/AdminLte/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/AdminLte/dist/js/pages/dashboard.js"></script>
    <script src="/AdminLte/plugins/flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="/AdminLte/plugins/flot/plugins/jquery.flot.resize.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="/AdminLte/plugins/flot/plugins/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/AdminLte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/AdminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/AdminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/AdminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/AdminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/AdminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/AdminLte/plugins/jszip/jszip.min.js"></script>
    <script src="/AdminLte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/AdminLte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/AdminLte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/AdminLte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/AdminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->


    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
</body>
</html>

<div class="row" >
    <div class="modal fade mymodel" id="modal-xl" style="display:none">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="headnm"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modaldt">
                    @*<p>One fine body&hellip;</p>*@
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"></h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="tbldt">
                            @*<table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>DistrictName</th>
                                        <th>ConstituencyName</th>
                                        <th>BoothName</th>
                                        <th>ActivityType</th>
                                        <th>ActivityDetailType</th>
                                        <th>ActivityValue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  

                                </tbody>

                            </table>*@
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
                    @* <button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


<div class="row">
    <div class="modal fade mymodel1" id="modal-xl" style="display:none">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title newrpt"><span id="headnm"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modaldt1">
                    @*<p>One fine body&hellip;</p>*@
                    <div class="card">
                        <div class="card-header">

                            <h3 class="card-title"></h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="tbl_modal">
                            @*<table id="example3" class="table table-bordered table-hover">
                                @*<thead>
                                    
                                </thead>
                                <tbody>

                                </tbody>

                            </table>*@
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
                    @* <button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<div class="row">
    <div class="modal fade factsheet" id="modal-xl" style="display:none">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title facthdr" id="headnm">Factsheet</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modaldt">
                    @*<p>One fine body&hellip;</p>*@
                    <div class="card">
                        <div class="card-header">

                            <h3 class="card-title modalhead"></h3>
                            <button type="button" class="btn btn-primary" onclick="printpage();" style="float:left;">Print</button>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="factshhetdata">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>District :</label>
                                    <input type="text" id="txt_district" name="txt_district" class="form-control" style="background-color:#f3f3f9; padding: 17px; ">
                                    <input type="hidden" id="dist_id" value="" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Parliament Constituency:</label>
                                    <input type="text" id="txt_parlcon" name="txt_parlcon" class="form-control" style="background-color:#f3f3f9; padding: 17px; ">
                                    <input type="hidden" id="parlcon_id" value="" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Assembly Constituency :</label>
                                    <input type="text" id="txt_Constituency" name="txt_Constituency" class="form-control" style="background-color:#f3f3f9; padding: 17px; ">
                                    <input type="hidden" id="constituency_id" value="" />

                                </div>
                                <div class="col-sm-3">
                                    <label>Booth :</label>
                                    <input type="text" id="txt_booth" name="txt_booth" class="form-control" style="background-color:#f3f3f9; padding: 17px;  ">
                                    <input type="hidden" id="booth_id" value="" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <center>  <button type="button" class="btn btn-primary" onclick="demo()">Submit</button></center>
                            </div>
                            <br />
                            <div class="row" id="data_dynamic" style="height:500px;overflow-y:scroll">



                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:aliceblue">
                                            <h3 class="card-title ">
                                                <center><h3><span id=""> VOTE STATISTICS</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo1">

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:lavenderblush">
                                            <h3 class="card-title ">
                                                <center><h3><span id="">TAGGING-PART OF TAGGING</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo2">

                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:lightgreen">
                                            <h3 class="card-title ">
                                                <center><h3><span id=""> TAGGING-PART OF PRE POLL</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo3">

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:beige">
                                            <h3 class="card-title ">
                                                <center><h3><span id=""> POLL DAY</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo4">

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:darksalmon">
                                            <h3 class="card-title ">
                                                <center><h3><span id="">DURING POLL</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo5">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 democard" style="display:none">
                                    <div class="card">
                                        <div class="card-header" style="background-color:khaki">
                                            <h3 class="card-title ">
                                                <center><h3><span id="">POST POLL</span></h3></center>
                                            </h3>
                                            <div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button> </div>
                                        </div><div class="card-body" id="demo6">

                                        </div>
                                    </div>
                                </div>

                            </div>

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
                  
                    @* <button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>