﻿<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/chart-js.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:21:52 GMT -->
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/media/favicon.png">

    <!-- Dependencies CSS -->
    @*<link rel="stylesheet" href="/Content/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flaticon/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/jvectormap/css/jquery-jvectormap-2.0.3.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fullcalendar/main.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/select2/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flatpicker/css/flatpickr.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.core.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.snow.css" type="text/css">
    <link href="~/Content/jquery-ui-1.12.1.css" rel="stylesheet" />*@

    <!-- Custom CSS -->
    @*<link rel="stylesheet" href="/Content/assets/css/app.css" type="text/css">

    <!-- Switcher Only -->
    <link rel="stylesheet" href="/Content/switcher/css/switcher.css" id="switcher-css" type="text/css" media="all">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">


    <!-- Dependencies Js -->
    <script src="/Content/dependencies/jquery/js/jquery.min.js"></script>
    <script src="/Content/dependencies/popper.js/js/popper.min.js"></script>
    <script src="/Content/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/dependencies/chart.js/js/Chart.min.js"></script>
    <script src="/Content/dependencies/apexchart/apexcharts.min.js"></script>
    <script src="/Content/dependencies/apexchart/irregular-data-series.js"></script>
    <script src="/Content/dependencies/apexchart/ohlc.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-world-mill.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-us-aea.js"></script>
    <script src="/Content/dependencies/jvectormap/js/gdp-data.js"></script>
    <script src="/Content/dependencies/fullcalendar/main.min.js"></script>
    <script src="/Content/dependencies/select2/js/select2.min.js"></script>
    <script src="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/Content/dependencies/flatpicker/js/flatpickr.min.js"></script>
    <script src="/Content/dependencies/quill/quill.min.js"></script>
    <script src="/Content/assets/js/chart.js"></script>
    <script src="/Content/assets/js/apex-chart.js"></script>
    <script src="/Content/assets/js/chart.js"></script>

    <!-- Preloader Js -->
    <script src="/Content/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>



    <!-- Switcher -->
    <script src="/Content/switcher/js/switcher.js"></script>


    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>*@

    @{
        if (Convert.ToInt32(Session["session_userid"]) <= 0 || Session["session_userid"] == null)
        {
            Response.Redirect("/Account/Login");
        }
        var name = Session["session_name"];
    }

</head>


<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Page Loader Start -->
    @*<div id="preloader" class="preloader-wrap" style="display:none;">
        <div class="preloader-content">
            <figure class="preloader-logo">
                <img src="/Content/media/logo.png" alt="Logo">
            </figure>
            @*<div class="preloader-text">Dashy</div>*@
    @*</div>
        </div>*@

    <!-- Page Loader End -->
    @*<a href="#main-wrapper" data-type="section-switch" class="scrollup">
            <i class="fas fa-angle-double-up"></i>
        </a>*@
    @*<div id="main-wrapper" class="dsy-main-wrapper">
        <div class="dsy-page">

            <div class="dsy-page-content vertical-menu">
                <header class="header">
                    <div class="dsy-aside dsy-aside-fixed">
                        <div class="dsy-aside-brand">
                            <div class="dsy-brand-logo">
                                <a href="/Home/Index" class="main-logo">
                                    <img src="/Content/media/main-logo.png" alt="logo">
                                </a>
                                <a href="/Home/Index" class="logo-icon">
                                    <img src="/Content/media/favicon.png" alt="logo">
                                </a>
                            </div>
                            <div class="nav-toggle-btn d-lg-none">
                                <button class="btn-icon sidebar-toggle-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="dsy-aside-menu-wrapper">
                            <div class="dsy-aside-menu">
                                <ul class="dsy-aside-nav sidebar-toggle-view">
                                    @*<li class="dsy-menu-label">
                                            <div class="dsy-menu-label-text">MENU</div>
                                        </li>
                                        <li class="dsy-menu-item sidebar-nav-item">
                                            <a href="#" class="dsy-menu-link">
                                                <span class="dsy-menu-link-icon">
                                                    <i class="flaticon-null-1"></i>
                                                </span>
                                                <span class="dsy-menu-link-text">Dashboards</span>
                                                <span class="dsy-menu-count">03</span>
                                            </a>
                                            <ul class="dsy-sub-group sub-group-menu">
                                                <li class="dsy-nav-item">
                                                    <a href="index.html" class="dsy-menu-link">Sales Monitoring</a>
                                                </li>
                                                <li class="dsy-nav-item">
                                                    <a href="index2.html" class="dsy-menu-link">Website Analytics</a>
                                                </li>
                                                <li class="dsy-nav-item">
                                                    <a href="index3.html" class="dsy-menu-link">Cryptocurrency</a>
                                                </li>
                                            </ul>
                                        </li>*@
    @*<li class="dsy-menu-label">
                            <div class="dsy-menu-label-text">MENU</div>
                        </li>
                        <li class="dsy-menu-item">
                            <a href="/Home/Index" class="dsy-menu-link">
                                <span class="dsy-menu-link-icon">
                                    <i class="flaticon-null-1"></i>
                                </span>
                                <span class="dsy-menu-link-text">Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
    @*<div class="navbar navbar-expand nav-top-bar1 nav-bar-fixed">
        <div class="top-bar-menu collapse navbar-collapse" id="mobile-navbar">
            <ul class="navbar-nav">
                <li class="nav-toggle-btn d-none d-lg-block">
                    <button class="btn-icon" id="dsy-aside-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </li>
                <li class="nav-toggle-btn d-lg-none">
                    <button class="btn-icon sidebar-toggle-mobile">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </li>*@
    @*<li class="nav-search-bar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search......">
                <div class="input-group-append">
                    <button class="item-btn" type="button"><i class="flaticon-null-15"></i></button>
                </div>
            </div>
        </li>*@
    @*</ul>
                    <ul class="navbar-nav">
                        <li class="navbar-item dropdown nav-admin">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                <img src="~/Content/media/figure/avatar.png" alt="" style="max-width:100%;">@name
                                <i class="flaticon-null-16"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <h5 class="text-bold text-body mb-0">@name</h5>
                                <div class="sign-btn">
                                    <a href="/Account/Logout">SIGN OUT</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>*@

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item">
                
                @*<div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>*@
            </li>
            <!-- Messages Dropdown Menu -->
            @*<li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>*@
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-user">&nbsp;@name</i>
                    @*<span class="badge badge-warning navbar-badge">15</span>*@
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@name</span>
                    @*<div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>*@
                    <div class="dropdown-divider"></div>
                    <a href="/Account/Logout">  <span class="dropdown-item dropdown-header">Sign Out</span></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>*@
        </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        @*<a href="index3.html" class="brand-link">
                <img src="/Content/media/main-logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">

            </a>*@
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="mt-3 pb-3 mb-3 d-flex">
                <div class="image" style="text-align:center;">
                    <center><img src="/Content/media/main-logo.png" class="img-circle elevation-2" alt="User Image" width="100" height="100"></center>
                </div>
                @*<div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>*@
            </div>
            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                    <li class="nav-item">
                        <a href="/AdminHome/Index" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                User Profile
                            </p>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="Fact_sheetRpt();">
                            <i class="nav-icon fas fa-file-contract"></i>
                            <p>Factsheet</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="navbarclose();">
                            <i class="nav-icon fa fa-chart-bar"></i>
                            <p>
                                Statistics
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#/top-nav.html" class="nav-link">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>State</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#/top-nav-sidebar.html" class="nav-link">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>District</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#/boxed.html" class="nav-link">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Assembly Constituency</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#/fixed-sidebar.html" class="nav-link">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Booth</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="navbarclose();">
                            <i class="nav-icon fa fa-file"></i>
                            <p>
                                Reports
                                <i class="fas fa-angle-left right"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 39);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Tagging Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 40);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Booth Arrival Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 41);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Force Arrival/Tagging Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 42);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Polling Station Set Up Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 43);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Polling Agent Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 44);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Mock Polling Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 45);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Poll Commencement Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 46);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Hourly Polling Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 47);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Candidate Visit</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 48);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Election Agent Visit</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 49);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Report of Queues</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 50);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Poll Completion Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 51);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Packing/Sealing Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 52);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Departure Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 53);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Arrival at RC Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(6, 54);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Device Closing Report</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="navbarclose();">
                            <i class="nav-icon fa fa-file-pdf"></i>
                            <p>
                                Exceptional Report
                                <i class="fas fa-angle-left right"></i>
                                @*<span class="badge badge-info right">6</span>*@
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 55);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Tagging</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 56);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Force Arrival</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 57);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Movement</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 58);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Reaching</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 59);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Polling Station Set Up</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 60);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Mock Drill</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 65);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Polling Agent not Reporting</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 66);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Delay in Commencement of Polling</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 67);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>EVM Malfunction Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 68);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Wrong Print on VPAT Paper Slip</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 69);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Under Age Voter</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 70);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Voter from ASD List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 71);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Voter with Unofficial Identity Slips</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 72);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Challenged Vote Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 73);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Elector Deciding Not to Vote – Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 74);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Tendered Vote Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 75);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Indelible Ink Report</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 76);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Law & Order at Booth </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="Menubindreprt(7, 77);">
                                    <i class="fas fa-caret-right nav-icon"></i>
                                    <p>Change of Polling Agent</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-broom"></i>
                            <p>House-Keeping</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminHome/Index" class="nav-link">
                            <i class="nav-icon fas fa-video"></i>
                            <p>
                                Tutorial Video
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminHome/Index" class="nav-link">

                            <i class="nav-icon fas fa-comment-dots"></i>
                            <p>
                                Feedback & Suggestion
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminHome/Index" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                Settings
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Logout" class="nav-link">

                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>



    @RenderBody()

    <!--=====================================-->
    <!--=       	Footer Start     		=-->
    <!--=====================================-->
    @*<footer class="footer-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="copyright-text">© 2020 <span>EIIPL</span>.</div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="footer-link">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@



    </div>
    </div>
    </div>





    <!-- Custom Js -->
    @*<script src="/Content/assets/js/app.js"></script>*@

    <script>var page_name = "chart-js.html";</script>
</body>


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/chart-js.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:21:52 GMT -->
</html>
