﻿<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/chart-js.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:21:52 GMT -->
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/media/favicon.png">

    <!-- Dependencies CSS -->
    <link rel="stylesheet" href="/Content/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flaticon/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/jvectormap/css/jquery-jvectormap-2.0.3.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fullcalendar/main.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/select2/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flatpicker/css/flatpickr.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.core.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.snow.css" type="text/css">
    <link href="~/Content/jquery-ui-1.12.1.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/assets/css/app.css" type="text/css">

    <!-- Switcher Only -->
    <link rel="stylesheet" href="/Content/switcher/css/switcher.css" id="switcher-css" type="text/css" media="all">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">


    <!-- Dependencies Js -->
    <script src="/Content/dependencies/jquery/js/jquery.min.js"></script>
    <script src="/Content/dependencies/popper.js/js/popper.min.js"></script>
    <script src="/Content/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/dependencies/chart.js/js/Chart.min.js"></script>
    <script src="/Content/dependencies/apexchart/apexcharts.min.js"></script>
    <script src="/Content/dependencies/apexchart/irregular-data-series.js"></script>
    <script src="/Content/dependencies/apexchart/ohlc.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-world-mill.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-us-aea.js"></script>
    <script src="/Content/dependencies/jvectormap/js/gdp-data.js"></script>
    <script src="/Content/dependencies/fullcalendar/main.min.js"></script>
    <script src="/Content/dependencies/select2/js/select2.min.js"></script>
    <script src="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/Content/dependencies/flatpicker/js/flatpickr.min.js"></script>
    <script src="/Content/dependencies/quill/quill.min.js"></script>
    <script src="/Content/assets/js/chart.js"></script>
    <script src="/Content/assets/js/apex-chart.js"></script>
    <script src="/Content/assets/js/chart.js"></script>

    <!-- Preloader Js -->
    <script src="/Content/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>

    

    <!-- Switcher -->
    <script src="/Content/switcher/js/switcher.js"></script>

    
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    @{ 
        if (Convert.ToInt32(Session["session_userid"]) <= 0 || Session["session_userid"] == null)
        {

            Response.Redirect("/Account/Login");
            Response.Flush();
            //Response.RedirectPermanent("/Account/Login");
            // RedirectToAction("Login", "Account");
        }
        var name = Session["session_name"];
    }

</head>


<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Page Loader Start -->
    <div id="preloader" class="preloader-wrap" style="display:none;">
        <div class="preloader-content">
            <figure class="preloader-logo">
                <img src="/Content/media/logo.png" alt="Logo">
            </figure>
            @*<div class="preloader-text">Dashy</div>*@
        </div>
    </div>
    <!-- Page Loader End -->
    <a href="#main-wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <div id="main-wrapper" class="dsy-main-wrapper">
        <div class="dsy-page">

            <div class="dsy-page-content vertical-menu">
                <header class="header">
                    <div class="dsy-aside dsy-aside-fixed">
                        <div class="dsy-aside-brand">
                            <div class="dsy-brand-logo">
                                <a href="/Home/Index" class="main-logo">
                                    <img src="/Content/media/main-logo.png" alt="logo">
                                </a>
                                <a href="/Home/Index" class="logo-icon">
                                    <img src="/Content/media/favicon.png" alt="logo">
                                </a>
                            </div>
                            <div class="nav-toggle-btn d-lg-none">
                                <button class="btn-icon sidebar-toggle-mobile">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="dsy-aside-menu-wrapper">
                            <div class="dsy-aside-menu">
                                <ul class="dsy-aside-nav sidebar-toggle-view">
                                    @*<li class="dsy-menu-label">
                                        <div class="dsy-menu-label-text">MENU</div>
                                    </li>
                                    <li class="dsy-menu-item sidebar-nav-item">
                                        <a href="#" class="dsy-menu-link">
                                            <span class="dsy-menu-link-icon">
                                                <i class="flaticon-null-1"></i>
                                            </span>
                                            <span class="dsy-menu-link-text">Dashboards</span>
                                            <span class="dsy-menu-count">03</span>
                                        </a>
                                        <ul class="dsy-sub-group sub-group-menu">
                                            <li class="dsy-nav-item">
                                                <a href="index.html" class="dsy-menu-link">Sales Monitoring</a>
                                            </li>
                                            <li class="dsy-nav-item">
                                                <a href="index2.html" class="dsy-menu-link">Website Analytics</a>
                                            </li>
                                            <li class="dsy-nav-item">
                                                <a href="index3.html" class="dsy-menu-link">Cryptocurrency</a>
                                            </li>
                                        </ul>
                                    </li>*@
                                    <li class="dsy-menu-label">
                                        <div class="dsy-menu-label-text">MENU</div>
                                    </li>
                                    <li class="dsy-menu-item">
                                        <a href="/Home/Index" class="dsy-menu-link">
                                            <span class="dsy-menu-link-icon">
                                                <i class="flaticon-null-1"></i>
                                            </span>
                                            <span class="dsy-menu-link-text">Home</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="navbar navbar-expand nav-top-bar1 nav-bar-fixed">
                        <div class="top-bar-menu collapse navbar-collapse" id="mobile-navbar">
                            <ul class="navbar-nav">
                                <li class="nav-toggle-btn d-none d-lg-block">
                                    <button class="btn-icon" id="dsy-aside-toggler">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="nav-toggle-btn d-lg-none">
                                    <button class="btn-icon sidebar-toggle-mobile">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                @*<li class="nav-search-bar">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search......">
                                        <div class="input-group-append">
                                            <button class="item-btn" type="button"><i class="flaticon-null-15"></i></button>
                                        </div>
                                    </div>
                                </li>*@
                            </ul>
                            <ul class="navbar-nav">
                                <li class="navbar-item dropdown nav-admin">
                                    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Content/media/figure/avatar.png" alt="" style="max-width:100%;">@name
                                        <i class="flaticon-null-16"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <h5 class="text-bold text-body mb-0">@name</h5>
                                        <div class="sign-btn">
                                            <a href="/Account/Logout">SIGN OUT</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                @RenderBody()
                
                <!--=====================================-->
                <!--=       	Footer Start     		=-->
                <!--=====================================-->
                @*<footer class="footer-wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="copyright-text">© 2020 <span>EIIPL</span>.</div>
                            </div>
                            <div class="col-sm-6">
                                <ul class="footer-link">
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>*@



            </div>
        </div>
    </div>
    
    

    

    <!-- Custom Js -->
    <script src="/Content/assets/js/app.js"></script>

    <script>var page_name = "chart-js.html";</script>
</body>


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/chart-js.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:21:52 GMT -->
</html>
