﻿@using dash.Models
@using dash.DAL

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/dependencies/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/dependencies/datatables/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/AppJs/Home.js?v=1.5"></script>

@{
    int? _segmentid = 0;
    List<DashboardMD> lst = new List<DashboardMD>();
    lst = new HomeDAL().Load_segmentDAL();
    if (lst != null)
    {
        foreach (var tabs in lst)
        {
            if (tabs.isSelected == 1)
            {
                _segmentid = tabs.SegmentID;
            }
        }
    }
}




<div class="breadcrumbs-wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-4 col-12">
                <div class="breadcrumbs-area">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @*<div class="input-group">*@
                <input type="text" id="txtdate" name="txtdate" class="form-control" style="background-color:#f3f3f9; padding: 17px;" placeholder="yyyy-mm-dd">
                @*</div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-8 col-12">
                <div class="card sales-table recent-revenue">
                    <div class="card-body">
                        <div class="heading-item">
                            <div class="row gutters-20" id="divTopPanel">
                                @*<div class="col-md-4" onclick="Detail('Todays Poll')" style="cursor:pointer;">
                                    <div class="media">
                                        <div class="item-icon bg-blue-ribbon">
                                            <i class="flaticon-null-28"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="item-title">District</h4>
                                            <div class="item-currency" id="divdashDistrict"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" onclick="Detail('District')" style="cursor:pointer;">
                                    <div class="media">
                                        <div class="item-icon bg-blue-ribbon">
                                            <i class="flaticon-null-28"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="item-title">District</h4>
                                            <div class="item-currency" id="divdashDistrict"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" onclick="Detail('Constituency')" style="cursor:pointer;">
                                    <div class="media">
                                        <div class="item-icon bg-brink-pink">
                                            <i class="flaticon-null-29"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="item-title">Constituency</h4>
                                            <div class="item-currency" id="divdashConstituency"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" onclick="Detail('Booth')" style="cursor:pointer;">
                                    <div class="media">
                                        <div class="item-icon bg-mountain-meadow">
                                            <i class="flaticon-null-30"></i>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="item-title">Booth</h4>
                                            <div class="item-currency" id="divdashBooth"></div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8 col-xxl-9">
                <div class="connections-page">
                    <input type="hidden" id="hdnselectedsegmentid" value="@_segmentid" />

                    <div class="heading-area">
                        <div class="row align-items-center">
                            <div class="col-md-12 d-flex justify-content-md-end justify-content-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    @{
                                        if (lst != null)
                                        {
                                            foreach (var tabs in lst)
                                            {
                                                string act = "";
                                                if (tabs.isSelected == 1) { act = "active"; } else { act = ""; }
                                                <li class="nav-item">
                                                    <a class="nav-link @act" data-toggle="tab" href="#tab_@tabs.SegmentID" role="tab" aria-selected="true" onclick="BindSegmentClick(@tabs.SegmentID)">
                                                        @tabs.SegmentName
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        @{
                            if (lst != null)
                            {
                                foreach (var tabs in lst)
                                {
                                    <div class="tab-pane fade show active" id="tab_@tabs.SegmentID" role="tabpanel" >
                                        <div class="sales-table-area">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xxl-8 col-12">
                                                        <div class="card sales-table recent-revenue">
                                                            <div class="card-body">
                                                                <div class="heading-item">
                                                                    <div class="row gutters-20" id="divtab_@tabs.SegmentID">
                                                                        @*<div class="col-md-4">
                                                                            <div class="media">
                                                                                <div class="item-icon bg-blue-ribbon">
                                                                                    <i class="flaticon-null-28"></i>
                                                                                </div>
                                                                                <div class="media-body">
                                                                                    <h4 class="item-title">Gross Earnings</h4>
                                                                                    <div class="item-currency">$1,958,104</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                }
                            }
                        }



                    </div>
                </div>
                <div class="row" id="divTable" style="display:none;">
                    <div class="col-xxl-8 col-12">
                        <div class="card sales-table recent-revenue">
                            <div class="card-body">
                                <div class="heading-item">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3 class="section-title" id="headerDeashboardDetail"></h3>
                                        </div>
                                    </div>
                                    <div class="row gutters-20">
                                        <div class="col-md-12 pd-t-10">
                                            <table id="tbl" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Count</th>
                                                        <th>Activity Type</th>
                                                        <th id="lastTH"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-3" id="divSegment5">
                @*<div class="connection-widget">
                    <div class="widget">
                        <div class="widget-people">
                            <h6 class="text-body text-bold mb-4">PEOPLE YOU MAY KNOW</h6>
                            <div class="people-list">
                                <a href="javascript:void(0)" class="media">
                                    <div class="item-img">
                                        <span>12345678</span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="item-title text-bold mb-0">Sophia Ribeiro</h5>
                                        <div class="text-bombay">Senior Interior</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        












    </div>
</div>
<!--=====================================-->
<!--=         Connections Start         =-->
<!--=====================================-->


