﻿@{
    ViewBag.Title = "Login";
    Layout = null;

}

<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:20:58 GMT -->
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/media/favicon.png">

    <!-- Dependencies CSS -->
    <link rel="stylesheet" href="/Content/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fontawesome/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flaticon/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/jvectormap/css/jquery-jvectormap-2.0.3.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/fullcalendar/main.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/select2/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/flatpicker/css/flatpickr.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.core.css" type="text/css">
    <link rel="stylesheet" href="/Content/dependencies/quill/quill.snow.css" type="text/css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/assets/css/app.css" type="text/css">

    <!-- Switcher Only -->
    <link rel="stylesheet" href="/Content/switcher/css/switcher.css" id="switcher-css" type="text/css" media="all">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&amp;display=swap" rel="stylesheet">
</head>

<body>

    <a href="#main-wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <div id="main-wrapper" class="dsy-main-wrapper">
        <div class="dsy-page">
            <div class="card login-form">
                <div class="card-body">
                    <div class="item-logo" style="margin-top:-55px; margin-bottom:45px;">
                        <a href="javascript:void(0);"><img src="/Content/media/main-logo.png" style="width:40%;" alt=""></a>
                    </div>
                    <h3 class="text-body text-bold mb-1">Sign-In</h3>
                    @*<div class="text-manatee">Access the panel using your username and passcode.</div>*@
                    @*<form>*@
                        <div class="form-group">
                            <div class="input-label">
                                <label>Username</label>
                                @*<a href="#">Need Help?</a>*@
                            </div>
                            <input type="text" id="txtusername" class="form-control" placeholder="Enter your username" name="txtusername" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <div class="input-label">
                                <label>Password</label>
                                @*<a href="passcode-reset.html">Forgot Code?</a>*@
                            </div>
                            <input type="password" id="txtpassword" class="form-control" placeholder="Enter your password" name="txtpassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <button type="button" id="btnLogin" class="submit-btn">SIGN IN</button>
                        </div>
                    @*</form>*@
                    @*<div class="copyright-text">© 2020 <span>EIIPL.</span></div>*@
                </div>
            </div>
        </div>
    </div>
    
    <!-- Dependencies Js -->
    <script src="/Content/dependencies/jquery/js/jquery.min.js"></script>
    <script src="/Content/dependencies/popper.js/js/popper.min.js"></script>
    <script src="/Content/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/dependencies/chart.js/js/Chart.min.js"></script>
    <script src="/Content/dependencies/apexchart/apexcharts.min.js"></script>
    <script src="/Content/dependencies/apexchart/irregular-data-series.js"></script>
    <script src="/Content/dependencies/apexchart/ohlc.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-world-mill.js"></script>
    <script src="/Content/dependencies/jvectormap/js/jquery-jvectormap-us-aea.js"></script>
    <script src="/Content/dependencies/jvectormap/js/gdp-data.js"></script>
    <script src="/Content/dependencies/fullcalendar/main.min.js"></script>
    <script src="/Content/dependencies/select2/js/select2.min.js"></script>
    <script src="/Content/dependencies/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/Content/dependencies/flatpicker/js/flatpickr.min.js"></script>
    <script src="/Content/dependencies/quill/quill.min.js"></script>


    <!-- Preloader Js -->
    <script src="/Content/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Custom Js -->
    <script src="/Content/assets/js/app.js"></script>

    <!-- Switcher -->
    <script src="/Content/switcher/js/switcher.js"></script>

    <script>
        $(document).ready(function () {
            $('#btnLogin').on('click', function () {
                if ($.trim($('#txtusername').val()) == "") {
                    $('#txtusername').css('border', '1px solid red');
                    $('#txtusername').focus(); return false;
                }
                if ($.trim($('#txtpassword').val()) == "") {
                    $('#txtpassword').css('border', '1px solid red');
                    $('#txtpassword').focus(); return false;
                }
                //return false;
                var A = "{UserName: '" + $('#txtusername').val() + "', Password: '" + $('#txtpassword').val() + "'}";
                $.ajax({
                    type: 'post',
                    contentType: 'application/json',
                    data: A,
                    dataType: 'json',
                    url: "/Account/SubmitLogin",
                    success: function (responce) {
                        console.log(responce.Data);
                        if (responce.Status == 200) {
                            var xmlDoc = $.parseXML(responce.Data);
                            var xml = $(xmlDoc);
                            var Table = xml.find("Table");
                           
                            var userid = $(Table).find('userid').text();
                            console.log(userid);
                            if (userid > 0) {
                                window.location.href = "/AdminHome/Index";
                            }
                        }
                        else {
                            alert(responce.Message);
                        }
                    },
                    error: function (data) {
                        //AddErrorAlert("error", data.Message);
                        alert(data.Message);
                    }
                });
            });
        });

        function LogIn() {
            
        }
    </script>
</body>


<!-- Mirrored from affixtheme.com/html/dashy/demo/ltr/grid/side-menu/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 09:20:58 GMT -->
</html>